USE [master]
GO
/****** Object:  Database [MoviesAPI]    Script Date: 5/8/2024 10:50:48 PM ******/
CREATE DATABASE [MoviesAPI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MoviesAPI', FILENAME = N'/var/opt/mssql/data/MoviesAPI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MoviesAPI_log', FILENAME = N'/var/opt/mssql/data/MoviesAPI.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MoviesAPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MoviesAPI]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 5/8/2024 10:50:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[Director] [nvarchar](50) NOT NULL,
	[Rating] [nvarchar](6) NOT NULL,
	[ReleaseDate] [nvarchar](18) NOT NULL,
	[ReviewScore] [nvarchar](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO

-- Insert JSON movies
USE [MoviesAPI]
GO
    